* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg,#121934, #17224e );
    
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: #121934;
    width: 100%;
    padding: 25px 50px;
    position: fixed;
}

.nav_item {
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    font-weight: 500;
    color: #FFF;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    padding-top: 40vh;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #FFF;
    max-width: 40vw;

}


/* FONDOS */
.home {
    height: 100vh;
    /* background-image: url(img/fondos/PRESENTACION.png); */
    background-image: url(./img/fondos/Isologofondo2.svg);
    background-repeat: round;
   
}


.identidad {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* background-image: url(img/fondos/IDENTIDAD.png); */
    z-index: 0;
    background-image: url(img/Isologo.png);
    background-repeat:no-repeat;
    background-position:95% top;
    background-size: 18em;
}

.identidad_text {
    font-family: 'Numans', sans-serif;
    font-size: 30px;
    text-decoration: none;
    font-weight: 500;
    color: #FFF;
    margin-top: 1em;
}

.gifs {
    display: flex;
    margin: 3rem auto;
    justify-content: space-around;
    background-color: #ffffff;
    max-height: fit-content;
    gap: 1rem;
    max-width: 40vw;
    border-radius: 5px;
    box-shadow: 0.5rem 0.5rem 30px #2f8f9292;
}

.resaltar {
    padding: .2em;
    background-image: linear-gradient(#2F8F92, #2F6F92);
    border-radius: 5px;
}
.resaltar:hover {
    background-image: linear-gradient(#2F6F92, #111b1b);
}

.resolucion {
    padding-top: 2rem;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    background: #fafafa08;
    border-radius: 10px;
}

.resolver {
    max-width: 95vw;
    font-family: 'Numans', sans-serif;
    font-size: 1.6em;
    text-decoration: none;
    font-weight: 500;
    color: #ffffff;
}

.resaltar1 {
    padding: .4em;
    padding-top: .8em;
    background-image: linear-gradient(#2f3292, #a50cf1);
    border-radius: 5px;
}

.resaltar2 {
    padding: .4em;
    padding-top: .8em;
    background-image: linear-gradient(#a50cf1, #2f3292);
    border-radius: 5px;
}

.resolver_text {
    font-family: 'Numans', sans-serif;
    font-size: 22px;
    text-decoration: none;
    font-weight: 400;
    color: #ffffff;
    max-width: 60%;
}
.servicios {
    height: auto;
    /* background-image: url(img/fondos/SERVICIO.png); */
    margin-top: 3rem;
    position: relative;
    z-index: -1;
}


.servicios_title {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #FFF; 
    /* display: flex;
    justify-content: center;
    padding-top: 10vh;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #FFF;
    max-width: 80vw; */
    /* position: relative;
    left: 40vw; */
    /* background-image: linear-gradient(#fafafa10, #a50cf1); */
    /* z-index: 1;
    overflow: hidden; */
    /* max-width: 113vh; */
}

.servicios_description {
    
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 8rem;
    gap: 3rem;

}


.servicio_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    min-width: 30vw;
    border: 5px solid transparent;
    border-image: linear-gradient(130deg, aqua, purple, pink);
    border-image-slice: 1;
    border-radius: 5px;
}
.servicio_card_title {
    font-family: 'Numans', sans-serif;
    font-size: 30px;
    text-decoration: none;
    font-weight: 500;
    color: #ffffff;
    margin: 3rem;
}


.list {
    font-family: 'Numans', sans-serif;
    font-size: 24px;
    text-decoration: none;
    font-weight: 400;
    color: #ffffff;
}

.boton_central {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem;
}

.proyectos {
    height: 165vh;
    /* background-image: url(img/fondos/SERVICIO.png); */
    position: relative;
    z-index: -1;
    
}

.proyectos_title {
    display: flex;
    justify-content:flex-end;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #FFF;
    background-image: linear-gradient(180deg, rgba(0, 255, 255, 0.085), aqua );
    padding-top: 3rem;
    max-width: 60vw;
    
}


.proyect {
    height: 20rem;
    width: 20rem;
    border: 5px solid transparent;
    border-image: linear-gradient(130deg, aqua, purple, pink);
    border-image-slice: 1;
    border-radius: 5px;
}

.proyectos_lista {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;

}

.proyecto_titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Numans', sans-serif;
    font-size: 30px;
    text-decoration: none;
    font-weight: 400;
    color: #ffffff;
    margin: 3rem;
}

.proyecto_description {
    font-family: 'Numans', sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 200;
    color: #ffffff;
}  


.proyecto_article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.proceso {
    height: fit-content;
    /* background-image: url(img/fondos/SERVICIO.png); */
    position: relative;
    z-index: -1;
}

.proceso_title {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #FFF; 
    margin-top: 10rem;
}

.proceso_grafico {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-top: 5rem;
}

.proceso_concept_list {
    list-style-type: none;
}

.proceso_description_list {
    list-style-type: none; 
}

.proceso_description_listItem {
    font-family: 'Numans', sans-serif;
    font-size: 18px;
    color: #ffffff;
    padding: 3rem;
    border: 5px solid transparent;
    border-image: linear-gradient(130deg, aqua, purple, pink);
    border-image-slice: 1;
    border-radius: 15px;
}

.proceso_concept_listItem {
    font-family: 'Numans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    padding: 2.6rem;
    background-image: linear-gradient(130deg, aqua, purple);
    border-radius: 15px;
    margin-bottom: 1rem;
}

.proceso_imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

.nosotros {
    margin-top: 5rem;
    height: fit-content;
    /* background-image: url(./img/fondos/SERVICIO.png); */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}


.nosotros_nosotros {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    max-width: 80vw;
    height: auto;
    padding: 2rem;
    background-image:linear-gradient(rgba(128, 0, 128, 0.374), rgba(0, 255, 255, 0.414), rgba(128, 0, 128, 0.374));
    border-radius: 10px;
}


.nosotros_title {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #FFF; 
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.nosotros_text {
    font-family: 'Numans', sans-serif;
    color: #FFF;
    font-size: 1.5em;
}

.cultura {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 80vw;
    height: auto;
    padding: 2rem;
    background-image:linear-gradient(rgba(128, 0, 128, 0.374), rgba(0, 255, 255, 0.414), rgba(128, 0, 128, 0.374));
    border-radius: 10px;
}

.cultura_title {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #FFF; 
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.cultura_text {
    font-family: 'Numans', sans-serif;
    color: #FFF;
    font-size: 1.5em;
}

.valores_item {
    font-family: 'Numans', sans-serif;
    color: #FFF;
    font-size: 1.4em;
}

.bold {
    font-weight: 900;
    font-style: italic;
}

.certifica {
    width: 80vw;
    height: 20rem;
    background-image:linear-gradient(rgba(128, 0, 128, 0.374), rgba(0, 255, 255, 0.414), rgba(128, 0, 128, 0.374));
    border-radius: 10px;
    padding-top: 1rem;
}
.certifica_title {
    font-family: 'Numans', sans-serif;
    color: #FFF;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/fondos/PRESENTACION.png);
    height:max-content;
    padding: 10rem;
}

.contacto_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff14;
}

.contacto_subtitle {
    font-family: 'Numans', sans-serif;
    color: #FFF;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.form-label {
    font-family:'Numans', sans-serif; 
    color: #FFF;
}

.row {
    justify-content: center;
}

.dos_en_uno {
    display: flex;
    justify-content:space-around;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    color: whitesmoke;
    margin-top: 2rem;
}

.footer_redes {
   margin-left: 10rem;
}


.author {
    color: whitesmoke;
    background-color: whitesmoke;
    margin-right: 1em;
}

.redes_img_text {
    display: flex;
    justify-content:baseline;
    align-items: baseline;
    text-decoration: none;
    gap: .5rem;
}


.ul_footer {
    list-style-type: none;
}
.redes_img_text:visited {
    text-decoration: none;
    color: #ffffff;
}